<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
    <table border='1'>
        <tr>
            <td>Nome</td>
            <td>DataInicio</td>
            <td>DataFim</td>
            <td>Status</td>
        </tr>
        {{#vetEvento}}
        <tr>
            <td> {{nome}}</td>
            <td> {{dataInicio}}</td>
            <td> {{dataFim}}</td>
            <td>{{status}}</td>
        </tr>
        {{/vetEvento}}
    </table>

    <a href="/">Voltar</a>

</body>

</html>